/* CSS Document */

body{
	background: #98b0d9; /* Old browsers */
	background: -moz-linear-gradient(top, #98b0d9 0%, #b1c8ef 44%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98b0d9), color-stop(44%,#b1c8ef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #98b0d9 0%,#b1c8ef 44%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #98b0d9 0%,#b1c8ef 44%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #98b0d9 0%,#b1c8ef 44%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #98b0d9 0%,#b1c8ef 44%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b0d9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 100%;
}

.wrap{
	height: 100%;
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

header h1{
	font-size: 30px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: bold;
	color: blue;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	letter-spacing: .3px;
}

nav {
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin: 1%;
 }

nav ul li {
 display: inline;
}

nav ul li a {
font-family:  Tahoma, Geneva, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 85%;
  text-decoration: none;
  padding: 1%;
  transition: all 3s ease-in-out;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

header h1{
	font-size: 30px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: bold;
	color: blue;
	margin-bottom: 5%;
	margin-top: 20px;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	letter-spacing: .3px;
}

header p{
	font-size: 20px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: none;
	color: black;
	margin-bottom: 5%;
	margin-top: 1%;
	text-align: center;
	letter-spacing: .3px;
}

footer h5{
	text-align: center;
	line-height: 16px;
	font-size: 15px;  
    font-weight: 300;
	letter-spacing: .3px;
  	color: black;
  	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  	font-family: Helvetica, Arial, Sans-Serif; 
  	padding-left: 15px;
  	padding-right: 15px;
  	padding-top: 5px;
 	padding-bottom: 10px;
	display: block;
}

footer h5 span{
	font-style: bold;
}


































	
	




nav {
  display: block;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 1%;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
  margin-left: 1%;
}

nav ul li a {
  padding: 5%;
  font-family: Segoe Ui , Arial,  Helvetica;
  text-transform:uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


