/* CSS Document */

/*--  start Media Query for  #profile h1 --*/

@media (max-width: 1920px) {
  #profile h1 {
    font-size: 200%;
  }
}

@media (max-width: 1680px) {
  #profile h1 {
    font-size: 190%;
  }
}

@media (max-width: 1400px) {
  #profile h1 {
    font-size: 185%;
  }
}

@media (max-width: 1366px) {
  #profile h1 {
    font-size: 180%;
  }
}

@media (max-width: 1280px) {
  #profile h1 {
    font-size: 175%;
  }
}

@media (max-width: 1024px) {
  #profile h1 {
    font-size: 170%;
  }
}

@media (max-width: 966px) {
  #profile h1 {
    font-size: 165%;
  }
}

@media (max-width: 853px) {
  #profile h1 {
    font-size: 140%;
  }
}

@media (max-width: 800px) {
  #profile h1 {
    font-size: 130%;
  }
}

@media (max-width: 768px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 640px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 568px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 480px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 360px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 320px) {
  #profile h1 {
    font-size: 100%;
  }
}

@media (max-width: 240px) {
  #profile h1 {
    font-size: 100%;
  }
}

/*--  end Media Query for #Profile h1 --*/

/*--  start Media Query for h3 --*/

@media (max-width: 1920px) {
  #profile h3 {
    font-size: 200%;
  }
}

@media (max-width: 1680px) {
  #profile h3 {
    font-size: 190%;
  }
}

@media (max-width: 1400px) {
  #profile h3 {
    font-size: 185%;
  }
}

@media (max-width: 1366px) {
  #profile h3 {
    font-size: 180%;
  }
}

@media (max-width: 1280px) {
  #profile h3 {
    font-size: 175%;
  }
}

@media (max-width: 1024px) {
  #profile h3 {
    font-size: 170%;
  }
}

@media (max-width: 966px) {
  #profile h3 {
    font-size: 165%;
  }
}

@media (max-width: 853px) {
  #profile h3 {
    font-size: 140%;
  }
}

@media (max-width: 800px) {
  #profile h3 {
    font-size: 130%;
  }
}

@media (max-width: 768px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 640px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 568px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 480px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 360px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 320px) {
  #profile h3 {
    font-size: 100%;
  }
}

@media (max-width: 240px) {
  #profile h3 {
    font-size: 100%;
  }
}

/*--  end Media Query for #profile h3 --*/

/*--  start Media Query for p --*/

@media (max-width: 1920px) {
  #profile article + article p {
    font-size: 200%;
  }
}

@media (max-width: 1680px) {
  #profile article + article p {
    font-size: 190%;
  }
}

@media (max-width: 1400px) {
  #profile article + article p {
    font-size: 185%;
  }
}

@media (max-width: 1366px) {
  #profile article + article p {
    font-size: 180%;
  }
}

@media (max-width: 1280px) {
  #profile article + article p {
    font-size: 175%;
  }
}

@media (max-width: 1024px) {
  #profile article + article p {
    font-size: 170%;
  }
}

@media (max-width: 966px) {
  #profile article + article p {
    font-size: 165%;
  }
}

@media (max-width: 853px) {
  #profile article + article p {
    font-size: 140%;
  }
}

@media (max-width: 800px) {
  #profile article + article p {
    font-size: 130%;
  }
}

@media (max-width: 768px) {
  #profile article + article p {
    font-size: 100%;
  }
}

@media (max-width: 640px) {
  #profile article + article p {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  #profile article + article p {
    font-size: 100%;
  }
}

@media (max-width: 568px) {
  #profile article + article p {
    font-size: 100%;
  }
}

@media (max-width: 480px) {
  #profile article + article p {
    font-size: 100%;
  }
}

@media (max-width: 360px) {
  #profile article + article p {
    font-size: 80%;
  }
}

@media (max-width: 320px) {
  #profile article + article p {
    font-size: 75%;
  }
}

@media (max-width: 240px) {
  #profile article + article p {
    font-size: 71%;
  }
}

/*--  end Media Query for p --*/


