/* CSS Document */

/* START Media Query for HEADER h1 and p----------------------------------------- */
/* START Media Query for #profile section article------------------------------- */
/* START Media Query for #profile section article + article-------------------- */
/* START Media Query for #profile section article + article p----------------- */

@media (max-width: 1920px) {
 	 header h1{
	 font-size: 4.25rem;
	}
	header p{
	 font-size: 2.75rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 1680px) {
 	 header h1{
	 font-size: 3.5rem;
	}
	header p{
	 font-size: 2.65rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 1400px) {
 	 header h1{
	 font-size: 3.5rem;
	}
	header p{
	 font-size: 2.65rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 1366px) {
 	 header h1{
	 font-size: 3.15rem;
	}
	header p{
	 font-size: 2.55rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 1280px) {
 	 header h1{
	 font-size: 3.05rem;
	}
	header p{
	 font-size: 2.45rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}


@media (max-width: 1024px) {
 	 header h1{
	 font-size: 3rem;
	}
	header p{
	 font-size: 2.35rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 966px) {
 	 header h1{
	 font-size: 2.95rem;
	}
	header p{
	 font-size: 2.25rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 853px) {
 	 header h1{
	 font-size: 2.85rem;
	}
	header p{
	 font-size: 2rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 800px) {
 	 header h1{
	 font-size: 2.75rem;
	}
	header p{
	font-size: 2rem;
	}
	#profile section article {
	float: left;
	width: 50%;
	}
	#profile section article + article {
	float: left;
	width: 50%;
	}
	#profile section article + article p {
	font-size: 150%;
	}
}

@media (max-width: 768px) {
 	 header h1{
	 font-size: 2.65rem;
	}
	header p{
	 font-size: 1.95rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 640px) {
 	 header h1{
	 font-size: 2.5rem;
	}
	header p{
	 font-size: 1.85rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 600px) {
 	 header h1{
	 font-size: 2.45rem;
	}
	header p{
	 font-size: 1.75rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 568px) {
 	 header h1{
	 font-size: 2.35rem;
	}
	header p{
	 font-size: 1.75rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 533px) {
 	 header h1{
	 font-size: 2.25rem;
	}
	header p{
	 font-size: 1.5rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 480px) {
 	 header h1{
	 font-size: 2rem;
	}
	header p{
	 font-size: 1.5rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (mmax-width: 360px) {
 	 header h1{
	 font-size: 1.85rem;
	}
	header p{
	 font-size: 1rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 320px) {
 	 header h1{
	 font-size: 1.75rem;
	}
	header p{
	 font-size: 1rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

@media (max-width: 240px) {
 	 header h1{
	 font-size: 1.5rem;
	}
	header p{
	 font-size: 1rem;
	}
	#profile section article {
	float: none;
	width: 100%;
	}
	#profile section article + article {
	float: none;
	width: 100%;
	}
	#profile section article + article p {
	font-size: 1rem;
	}
}

/* END Media Query for HEADER h1 and p----------------------------------------- */
/* END Media Query for #profile section article------------------------------- */
/* END Media Query for #profile section article + article-------------------- */
/* END Media Query for #profile section article + article p----------------- */











