/* CSS Document */

.profile{
background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -o-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: linear-gradient(to top, #CCCCCC, #EEEEEE 175px);
margin:auto;
width: 90%;
height: auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
margin-bottom: 20px;
}

.profile article h2{
font-family: Tahoma, Geneva, sans-serif;
font-size: 22px;
font-style: none;
line-height: 14px;
color: black;
text-align: center;
}

.profile article article {
	auto: 100%;
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

.profile article article div{
	
	background-image: url("http://mndyrs.com/teddy/misc/brownphoto.jpg");
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	width: 100%;
	height: auto%; 
}



.profile article article h3{
font-family: Tahoma, Geneva, sans-serif;
font-size: 16px;
font-style: italic;
line-height: 14px;
color: blue;
margin-bottom: 30px;
}

.profile section article article p{
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: none;
line-height: 30px;
color: black;
text-align: justify;
margin-left: 10px;
padding-right: 10px;
}

