/* CSS Document */

.wrap{
	height: 100%;
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

#profile{
background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -o-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: linear-gradient(to top, #CCCCCC, #EEEEEE 175px);
display: block;
height: auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
float: left;
margin: auto;
}

#profile h3{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 22px;
  font-style: none;
  line-height: 14px;
  color: black;
  text-align: left;
}

#profile h4{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 14px;
  color: blue;
  margin-bottom: 30px;
}

#profile section article{
  width: 50%;
  height: auto;
  float: left;
}


@media (max-width: 1920px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1680px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1400px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1366px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1280px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1024px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 966px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 853px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 800px) {
  #profile section article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 768px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 640px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 600px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 568px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 533px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 480px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 360px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 320px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 240px) {
  #profile section article {
  float: none;
  width: 100%;
  }
}


#profile section article + article{
  width: 50%;
  height: auto;
  float: right;
}

@media (max-width: 1920px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1680px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1400px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1366px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 1280px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}


@media (max-width: 1024px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 800px) {
  #profile section article + article {
  float: left;
  width: 50%;
  }
}

@media (max-width: 768px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 640px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 600px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 568px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 533px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 480px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 360px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 320px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

@media (max-width: 240px) {
  #profile section article + article {
  float: none;
  width: 100%;
  }
}

#profile section article img{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

#profile section article + article p{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: none;
  line-height: auto;
  color: blue;
  text-align: justify;
  margin-left: 3%;
  padding-right: 3%;
}
