#contact{
	.enc-make-xs-col(12);
	.enc-grad-diagonal-up(@profile-grad-start, @profile-grad-end);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	
		h3{
		.enc-media-width(font-size,
			@240: 1.5rem, @320: 1.5rem, @360: 1.5rem, @480: 1.50rem, @533: 1.65rem, @568: 1.75rem,
			@600: 2rem, @640: 2.25rem, @768: 2.25rem, @800: 2.35rem, @853: 2.35rem, @966: 2.45rem, 
			@1024: 2.5rem, @1280: 2.55rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);	
			font-color: black;
			text-align: center;
		}
		p{
		.enc-media-width(font-size,
			@240: 1.5rem, @320: 1.5rem, @360: 1.5rem, @480: 1.50rem, @533: 1.65rem, @568: 1.75rem,
			@600: 2rem, @640: 2.25rem, @768: 2.25rem, @800: 2.35rem, @853: 2.35rem, @966: 2.45rem, 
			@1024: 2.5rem, @1280: 2.55rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);	
			font-family: Tahoma, Geneva, sans-serif;
			color: black;
			text-align: center;
		}
		a{
		.enc-media-width(font-size,
		@240: 1.25rem, @320: 1.5rem, @360: 1.5rem, @480: 1.50rem, @533: 1.65rem, @568: 1.75rem,
		@600: 2rem, @640: 2.25rem, @768: 2.25rem, @800: 2.35rem, @853: 2.35rem, @966: 2.45rem, 
		@1024: 2.5rem, @1280: 2.55rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);	
		font-family: Tahoma, Geneva, sans-serif;
		color: blue;
		margin-bottom: 2%;
		text-align: center;
		display: block;

		}

}








 form    {
.enc-make-xs-col(12);
	.enc-grad-diagonal-up(@profile-grad-start, @profile-grad-end);
	.enc-media-width(font-size,
			@240: 1rem, @320: 1.25rem, @360: 1.33rem, @480: 1.44rem, @533: 1.5rem, @568: 1.65rem,
			@600: 1.75rem, @640: 1.85rem, @768: 2rem, @800: 2.11rem, @853: 2.25rem, @966: 2.35rem, 
			@1024: 2.4rem, @1280: 2.5rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	font-family: Tahoma, Geneva, sans-serif;
	font-style: none;
	color: black;
	text-decoration: none;
	display: inline-block;
	

	
	

	h1{
.enc-media-width(font-size,
			@240: 1rem, @320: 1.5rem, @360: 1.5rem, @480: 1.50rem, @533: 1.65rem, @568: 1.75rem,
			@600: 2rem, @640: 2rem, @768: 2rem, @800: 2.12rem, @853: 2.25rem, @966: 2.33rem, 
			@1024: 2.45rem, @1280: 2.55rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);
		font-family: Tahoma, Geneva, sans-serif;
		font-style: none;
		font-weight: bold;
		color: red;
		margin-bottom: 2%;
		text-align: center;
	}
	input{
	width:99%;
	display: block;
	border: 1px solid #999;
	height: 5%;
	line-height: 1%;
	margin-bottom: 1%;
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}

		textarea{
			.enc-media-width(font-size,
			@240: 1.5rem, @320: 1.5rem, @360: 1.5rem, @480: 1.50rem, @533: 1.65rem, @568: 1.75rem,
			@600: 2rem, @640: 2.25rem, @768: 2.25rem, @800: 2.35rem, @853: 2.35rem, @966: 2.45rem, 
			@1024: 2.5rem, @1280: 2.55rem, @1366: 2.65rem, @1400: 2.75rem, @1680: 2.85rem, @1920: 2.95rem);	
			width:  99%;
			height: 30%;
			margin-bottom: 3%;
			
			padding: 3%;
			font-style: none;
		}


		button{
		width: 45%;
		height: 15%;
		float: left;
		margin-left: 3%;
		}

		button+button{
		width: 45%;
		height: 15%;
		float: right;
		margin-right: 3%;
		}
}
