body{
	background-color: green;
}

h1{
	color: white;
	font-size: 3rem;
}


#wrap{
	.container;
}

.top-menu{
	.navbar;
	.navbar-default;
	background-color: red;
	.container-fluid{
		.container-fluid;
		.navbar-header{
			.navbar-header;
			.navbar-toggle{
				.navbar-toggle;
				.icon-bar{
					.icon-bar;
				}
			}
			.navbar-brand{
				.navbar-brand;
			}
		}
		.navbar-collapse{
			.navbar-collapse;
			.nav{
				.nav;
			}
			.navbar{
				.navbar;
				li{
					a{
					}
				}
			}
		}
	}
}