#profile{
background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -o-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: linear-gradient(to top, #CCCCCC, #EEEEEE 175px);
margin:0 auto;
width: 625px;
height: 425px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#profile div{

     width: 201px;
     height: 250px;
     background-image: url("browncpainc/img/bg-1.png");
     background-repeat: no-repeat;
     float: left;
     margin-right: 10px;
     background-size: 100% 100%;
}


#profile h1{
font-family: Tahoma, Geneva, sans-serif;
font-size: 22px;
font-style: bold;
line-height: 14px;
color: black;
}

#profile h3{
font-family: Tahoma, Geneva, sans-serif;
font-size: 16px;
font-style: italic;
line-height: 14px;
color: blue;
margin-bottom: 30px;
}

#profile p{
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: none;
line-height: 30px;
color: black;
text-align: justify;
margin-left: 10px;
padding-right: 10px;
}
